:root{
	--bg-dark-light:#101010;
	--bg-dark:#000;
	--bg-org: #D87D4A;
	--bg-org-light: #FBAF85;
	--bg-gray: #97979797;
	--bg-gray-light: #F1F1F1;
	--bg-white-light: #FAFFAFA;
	--bg-white: #FFF;
}

body{
	font-family: "Manrope", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Start header */
header{
	width: 100%;
	background-color: var(--bg-dark-light);
}
.container{
	width: 1110px;
	margin: auto;
}

header .header{
	width: 100%;
	/* margin:auto; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header h1{
	color: var(--bg-white);
}
header a {
	text-decoration: none;
	color: #fff;
}
nav {
	width: 430px;
	display: flex;
	gap: 3rem;
}
nav a {
	text-decoration: none;
	color: var(--bg-white);
	font-size: 13px;
	font-weight: bold;
	letter-spacing:2px;
	text-transform: uppercase;
}
.underline{
	display: block;
	width: 100%;
	margin : auto;
	background-color: var(--bg-gray);
	height: 0.4px;
	margin-top: 1rem;
}

/* Start section */
section{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}
section .desc{
	width: 398px;
	height: 346px;
	margin-bottom: 170px;
	margin-top: 128px;
}

section .desc .new-prod{
	font-size: 14px;
	font-weight: 200px;
	letter-spacing: 10px;
	color: var(--bg-gray);
}
section .desc h1{
	font-size: 56px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 24px;
	margin-top: 24px;
}
section .desc .description{
	width: 349px;
	color: var(--bg-white);
	font-size: 15px;
	font-weight: 100;
	line-height: 2.5;
	margin: 0;
}
section .desc .botton{
	width: 160px;
	height: 48px;
	background-color: var(--bg-org);
	color: var(--bg-white);
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	text-align: center; 
	line-height: 48px; 
	margin-top: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

section .banner{
	width: calc(100% - 398px);
}
section .banner .product-banner{
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
}
/* End section */
/* End header */

 /* Start main */

 main{
	width: 100%;
	height: 100%;
	background-color: var(--bg-white);
 }
 .container-main{
	width: 1110px;
	margin: auto;
	height: 100vh;
 }

 main .container-main .cards{
	margin-top: 188px;
	margin-bottom: 168px;
	display: flex;
	align-items: center;
	justify-content: space-between;
 }

 main .container-main .cards .card{
	position: relative;
	width: 350px;
	height: 220px;
	background-color: var(--bg-gray-light);
	border-radius: 8px;
	
 }
 main .container-main .cards .card img{
	position: absolute;
	width: 210px;
	height: 200px;
	left: 20%;
	top: -33%;
	margin: 0;
 }

 main .container-main .cards .card:nth-child(3) img {
	width: 230px;
	height: 210px;
	position: absolute;
	left: 18%;
	top: -28%;
	
 }
 main .container-main .cards .card p{
	position: absolute;
	width: 133px;
	left: 32%;
	top: 50%;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1.29px;
	text-align: center;
	margin-top: 10px ;
 }
 main .container-main .cards .card .botton{
	display: flex;
	align-items: center;
	position: absolute;
	left: 43%;
	top: 70%;
	padding: 0;
	margin-top: 10px;
	
 }
 main .container-main .cards .card .botton a{
	text-decoration: none;
	text-transform: uppercase;
	color: var(--bg-dark-light);
	font-size: 13px;
	/* font-weight: 300; */
	letter-spacing: 1px;
	

 }
 main .container-main .cards .card  .botton span{
	color: var(--bg-org);
	font-size: 23px;
	position: absolute;
	left: 50px;
	top: -10px;
	
 }

 main .container-main .bg-1{
	width: 100%;
	height: 560px;
	background-color: var(--bg-org);	
	border-radius: 8px;
	position: relative;
	overflow: hidden;
 }
 main .container-main .bg-1 svg{
	position: absolute;
	left: -14%;
	top: -50px;
 }
 main .container-main .bg-1 .content{
	width: 81.5%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 10%;
	
 }

 main .container-main .bg-1 .content img{
	width: 410px;
	height: 439px;
	margin-top: 128px;
	z-index: 10;
	
 }
 main .container-main .bg-1 .content .desc{
	width: 349px;
	height: 303px;
 }
 main .container-main .bg-1 .content .desc h1{
	width: 261px;
	margin: 0;
	color: var(--bg-white);
	font-size: 56px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
 }
 main .container-main .bg-1 .content .desc p{
	margin-top: 14px;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	color: var(--bg-white);
 }

 main .container-main .bg-1 .content .desc .botton{
	text-decoration: none;
	width: 160px;
	height: 48px;
	background-color: var(--bg-dark);
	color: var(--bg-white);
	font-size: 13px;
	/* font-weight: bold; */
	display: inline-block;
	text-align: center; 
	line-height: 48px; 
	margin-top: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
 }

 main .container-main .bg-2{
	margin-top: 40px;
	position: relative;
 }

 main .container-main .bg-2 .img{
	width: 100%;
	height: 320px;
	background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
	background-size: cover;
	border-radius: 8px;
	
 }

 main .container-main .bg-2 .content p{
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	left: 80px;
	top: 80px;
	color: var(--bg-gray);
 }
 main .container-main .bg-2 .content .botton{
 	text-decoration: none;
	width: 160px;
	height: 48px;
	border: 1px solid var(--bg-gray);
	color: var(--bg-gray);
	font-size: 13px;
	/* font-weight: bold; */
	display: inline-block;
	text-align: center; 
	line-height: 48px; 
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	left: 80px;
	top: 185px;
 }

 main .container-main .bg-2 .content .carre{
	width: 100px;
	height: 100px;
	background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23979797FF' stroke-width='2' stroke-dasharray='10' stroke-dashoffset='4' stroke-linecap='round'/%3e%3c/svg%3e");
	position: absolute;
	left: 162px;
	top: 100px;
 }
 main .container-main .bg-3{
	width: 100%;
	height: 320px;
	margin-top: 48px;
	display: grid; 
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
 }
 main .container-main .bg-3 .card-1
{
	height: 320px;
	background-image: url("../assets/home/desktop/image-earphones-yx1.jpg");
	background-size: contain;
	border-radius: 8px;
 }

 main .container-main .bg-3 .card-2{
	background-color: var(--bg-gray-light);
	border-radius: 8px;
	height: 320px;
	position: relative;
 }
 main .container-main .bg-3 .card-2 p{
	color: var(--bg-dark);
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	position: absolute;
	left: 80px;
	top: 90px;
 }

 main .container-main .bg-3 .card-2 .botton{
	text-decoration: none;
	width: 160px;
	height: 48px;
	border: 1px solid var(--bg-dark);
	color: var(--bg-dark);
	font-size: 13px;
	/* font-weight: bold; */
	display: inline-block;
	text-align: center; 
	line-height: 48px; 
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	left: 80px;
	top: 185px;
 }