:root{
	--bg-dark-light:#101010;
	--bg-dark:#000;
	--bg-org: #D87D4A;
	--bg-org-light: #FBAF85;
	--bg-gray: #97979797;
	--bg-gray-light: #F1F1F1;
	--bg-white-light: #FAFFAFA;
	--bg-white: #FFF;
}

body{
	font-family: "Manrope", sans-serif;
	box-sizing: border-box;
	background-color: var(--bg-dark-light);
}
/* Start header */
header{
	width: 100vw;
	margin-bottom: 50px;
}
header .container-header{
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header h1{
	color: var(--bg-white);
}
header a {
	text-decoration: none;
	color: #fff;
}
nav {
	width: 430px;
	display: flex;
	gap: 3rem;
}
nav a {
	text-decoration: none;
	color: var(--bg-white);
	font-size: 13px;
	font-weight: bold;
	letter-spacing:2px;
	text-transform: uppercase;
}
.underline{
	display: block;
	width: 78%;
	margin : auto;
	background-color: var(--bg-gray);
	height: 0.4px;
	margin-top: 1rem;
}

/* End header */
/* start section */

section{
	width: 78%;
	margin:auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

section .desc{
	width: 50%;
}

section .desc .desc-1{
	width: 380px;
	height: 346px;
}
section .desc .new-prod{
	color: var(--bg-gray);
	font-size: 15px;
	font-weight: 200;
	letter-spacing: 10px;

}
section .desc h1{
	margin-top: 24px;
	font-size: 56px;
	font-weight: bold;
	color: var(--bg-white);
	letter-spacing: 2px;
	text-transform: uppercase;
}
section .desc .description{
	margin-top: 24px;
	width: 350px;
	color: var(--bg-white);
	font-size: 15px;
	font-weight: 100;
	line-height: 2.5;
	margin-bottom: 40px;
}
section .desc .botton{
	width: 160px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg-org);
	text-decoration: none;
	color: var(--bg-white);
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

section .banner {
	width: 50%;
	height: 686px;
}
section .banner .product-banner{
	width: 100%;
}
/* End setion */
/* Start main */
main{
	background-color: var(--bg-white);
	width: 100%;
}